/* Css Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#header-container {
  width: 100%;
}
#header-container #company-logo {
  height: 200px;
  width: 200px;
  margin-right: 20%;
}
#header-container #icontext {
  margin-right: 18%;
  font-size: 30px;
  font-family: "Lobster";
}
#header-container nav {
  display: flex;
  align-items: center;
  background-color: #333;
  justify-content: space-evenly;
  height: 60px;
}
#header-container nav .navlinks {
  font-size: 18px;
}
#header-container nav .navlinks:hover {
  color: #97AD4B;
  transition: 2s;
}
#header-container nav a {
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
  font-family: "El Messiri";
}
@media (max-width: 500px) {
  #header-container #navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 135px;
  }
  #header-container #navigation #company-logo {
    height: 0px;
    width: 0px;
  }
  #header-container #navigation #icontext {
    margin-left: 17%;
    text-align: center;
  }
  #header-container #navigation #navlinks {
    margin-top: 4%;
  }
  #header-container #navigation #banner {
    visibility: hidden;
  }
  #header-container #headerimgdiv {
    height: 0;
    width: 0;
  }
  #header-container #headerimgdiv #main-photo {
    visibility: hidden;
  }
}
#main-photo {
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}
#banner {
  position: absolute;
  margin-top: 22.01rem;
  height: 60px;
  width: 100%;
  background: #212121;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: "Lobster";
  vertical-align: middle;
}
#info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 25rem;
  width: 100%;
  text-align: center;
}
#info-container .section-info {
  width: 33.33%;
}
#info-container .icon {
  height: 100px;
  width: 100px;
  margin-bottom: 10%;
}
#info-container p {
  font-size: 20px;
  font-family: "El Missiri";
}
#signup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-top: dashed 1px #333;
  margin-top: 5%;
  background-color: #333;
  color: white;
}
#signup #cardtitle {
  font-family: "Lobster";
}
#signup #wateringimg {
  height: 600px;
  margin: 1% 1% 1% 1%;
  border-radius: 8px;
}
#signup #wateringimg:hover {
  color: #97AD4B;
  box-shadow: -3px 0 #97AD4B, 0 3px #97AD4B, 3px 0 #97AD4B, 0 -3px #97AD4B;
  opacity: 85%;
  transition: 2s;
}
#signup h1 {
  margin-top: 2%;
  font-size: 30px;
}
#signup p {
  margin-top: 1%;
  font-family: "El Messiri";
  font-size: 30px;
}
#signup #signupbtn {
  margin-top: 5%;
  border-radius: 5px;
  background-color: #97AD4B;
  color: white;
  height: 55px;
  width: 150px;
  border: 1px #97AD4B solid;
  font-size: 25px;
}
#signup #signupbtn:hover {
  background-color: white;
  transition: 2s;
  color: #97AD4B;
}
@media (max-width: 500px) {
  #signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #signup #wateringimg {
    height: 3%;
    width: 90%;
  }
  #signup #cardtext h1 {
    font-size: 18px;
  }
  #signup #cardtext p {
    font-size: 18px;
  }
  #signup #cardtext #signupbtn {
    height: 35px;
    width: 75px;
    font-size: 15px;
    margin-bottom: 20px;
  }
}
footer {
  text-align: center;
  background-color: #333;
  color: white;
}
#main-content {
  text-align: center;
  font-size: 5rem;
  font-family: "Lobster";
}
#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 2%;
  align-items: flex-start;
}
@media (max-width: 500px) {
  #wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    flex-direction: column;
    margin-left: 12%;
  }
}
#wrapper .developer {
  justify-content: space-evenly;
  width: 13.66%;
  text-align: left;
  padding: 2px;
}
#wrapper .developer h2 {
  margin-top: 1%;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  #wrapper .developer {
    width: 100%;
    margin-top: 4%;
  }
  #wrapper .developer h2 {
    font-size: 15px;
  }
  #wrapper .developer p {
    font-size: 15px;
  }
}
#wrapper .developer h2 {
  font-size: 30px;
  font-family: "Lobster";
}
#wrapper .developer p {
  font-family: "El Messiri";
}
#wrapper .developer img:hover {
  box-shadow: -3px 0 #97AD4B, 0 3px #97AD4B, 3px 0 #97AD4B, 0 -3px #97AD4B;
  opacity: 85%;
  transition: 2s;
}
#wrapper img {
  border-radius: 200px;
  height: 130px;
}
