



#main-photo {
    background-size: cover;
    background-repeat: no-repeat;
    .dims(350px, 100%);
    
}

#banner {
    position: absolute;
    margin-top: 22.2%;
    .dims(60px, 100%);
    background: #212121;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "Lobster";
}
// Content Styling
#info-container{   
    .flexbox(space-evenly ,center);
    flex-direction: row;
    .dims(30rem, 100%);
    text-align:center;
    

    .icon {
        .dims(100px, 100px);
        margin-bottom: 10%;
    }
  
    p {
        font-size: 20px;
        font-family: "El Missiri"
   }
    
}


#signup {
    .flexbox(space-evenly, center);
    text-align: center;
    border-top: dashed 1px #333;
    margin-top: 5%;
    background-color: #333;
    color: white;


    #cardtitle {
        font-family: "Lobster";
    }

    #wateringimg {
        height: 600px;
        margin:  1% 1% 1% 1%;
        border-radius: 8px;
    }

    h1{
        margin-top: 2%;
        font-size: 30px;
    }

    p {
        margin-top: 1%;
        font-family: "El Messiri";
        font-size: 30px; 
    }

    #signupbtn {
        margin-top: 5%;
        border-radius: 5px;
        background-color:#25da37;
        color: white;
        .dims(55px, 150px);
        font-size: 25px;
    }
}


footer {
    text-align: center;
    background-color: #333;
    color: white;
}
// MTD Page

#main-content {
    text-align: center;
    font-size: 5rem;
    

}


#wrapper {
    .flexbox(center, center);
    flex-wrap: wrap;
    vertical-align: middle;
    margin-left: 23%;
    width: 70%;


    .developer {
        width: 35%;
    }

    h2 {
        font-size: 30px;
    }

    img {
        border-radius: 200px;
        height: 130px;
    }
}


