#header-container{
    width: 100%;
    #company-logo{
        .dims(200px, 200px);
        margin-right: 20%;
    }
    
    #icontext {
        margin-right: 18%;
        font-size: 30px; 
        font-family: "Lobster";   
    }
    

      nav {
        .flexbox(space-evenly, center);
        background-color: #333;
        justify-content: space-evenly;
        height: 60px;
    
        
        .navlinks {
            font-size: 18px;
        }
    
        a {
            justify-content: space-evenly;
            text-decoration: none;
            color: white;
            font-family: "El Messiri";
          

        }
       
    }
}
@media (max-width: 500px){
    #header-container {
        #navigation {
            .flexbox(center, center);
                flex-direction: column;
                height: 135px;
        
             #company-logo {
                .dims(0px, 0px);
            } 

            #icontext{
                 margin-left: 17%;
                 text-align: center;
            }  
         
            #navlinks {
                margin-top: 4%;
            }   
            
            #banner {
                visibility: hidden;
              }
        
        
        }
        #headerimgdiv {
            height: 0;
            width: 0;
            #main-photo{
                visibility: hidden;
          }
        }  
    }
}






