#header-container{
    width: 100%;

      nav {
        display: flex;
        background-color: #333;
        justify-content: space-evenly;
        
    
    
        a {
            justify-content: space-evenly;
            text-decoration: none;
            color: white
            
        }
    }
}







